@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

body{
    background-color: var(--Very-light-gray-background-headings-buttons);
    font-family: "Big Shoulders Display", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding : 20px 0;
}

.parent{
    min-height: 100vh;
    width: auto;
    display: grid;
    place-content: center;
}

.container{
    height: max-height;
    max-width: 400px;
    margin: auto;
    padding: 0 25px;
    border-radius: 15px;
    /* it crops any extra space including margin */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
}


img{
    max-width: 30%;
}

.sedan{
    background-color: var(--Bright-orange);
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1{
    color: var(--Very-light-gray-background-headings-buttons);
    margin-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
}

p{
    color: var(--Transparent-white-paragraphs);
    font-family: Lexend Deca;
    font-size: 10px;
    margin-bottom: 20px;
    line-height: 1.7;
}

.suv{
    background-color: var(--Dark-cyan);
    padding: 25px;
}

.luxury{
    background-color: var(--Very-dark-cyan);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 25px;
}

button{
    font-family: "Lexend Deca";
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    border: solid 2px transparent;
    border-radius: 20px;    
    cursor: pointer;
}

.sedan button{
    color: var(--Bright-orange);
}

.sedan button:hover{
    background-color: var(--Bright-orange);
    color: var(--Very-light-gray-background-headings-buttons);
    border: solid 2px white;
}

.suv button{
    color: var(--Dark-cyan);
}

.suv button:hover{
    background-color: var(--Dark-cyan);
    color: var(--Very-light-gray-background-headings-buttons);
    border: solid 2px white;
}

.luxury .button{
    color: var(--Very-dark-cyan);
}

.luxury button:hover{
    background-color: var(--Very-dark-cyan);
    color: var(--Very-light-gray-background-headings-buttons);
    border: solid 2px white;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {

    .parent{
        width: 768px;
    }

    .container{
        display: flex;
        flex-direction: row;
        max-width: 768px;
    }
    .sedan{
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
    }

    .luxury{
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
    }
}